* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #FFB347;
}

html {
    scroll-behavior: smooth;
}


.header {
    background-color: var(--header-color);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    width: 100%;
}

#header-container {
    display: flex;
    flex-direction: row;
    height: inherit;
    gap: 20px;
    align-items: center;
}

#header-container>img {
    height: 100%;
}

h1 {
    font-size: 60px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
}


ul>li>a {
    font-size: 25px;
    gap: 3px;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: orange;
}

:target {
    scroll-margin-top: 80px;
}

.main-section {
    padding-top: 80px;
}